canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  z-index: -1;
}
body {
  color: white;
  background-color: #000;
}
img.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 1000px) {
  img.cover {
    width: 75%;
    max-width: 1200px;
  }
}
